{% extends "mainpage/layout.html" %}
{% block libraries %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock libraries %}
{% block content %}
    {% set show_logout_button = true %}
    {% include "mainpage/navbar.html" %}
    <div id="page_flex_row" class="flex flex-row h-full">
        {% include "mainpage/functions.html" %}
        {% include "mainpage/sequence_list.html" %}
        <div id="map_div" class="h-full w-full border-black border-2 flex flex-col">
            <div id="map_source" class="h-full w-full block overflow-y-auto overflow-x-auto">

            </div>
            <div>
                <label for="level">Level:</label>
                <select name="level" id="level">
                    {% for level in levels %}
                        <option value="{{level}}">{{level}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="map_btn_div" class="h-fit w-full flex flex-row justify-between">
                <button id="btn_start" class="w-fit h-fit ml-0.5 bg-white text-nav_color font-bold py-2 px-4 border-2 border-nav_color hover:bg-variable_color rounded">
                    VYKONEJ
                </button>
                <button id="btn_clear" class="w-fit h-fit ml-0.5 bg-white text-nav_color font-bold py-2 px-4 border-2 border-nav_color hover:bg-variable_color rounded">
                    VYČISTI
                </button>
                <button id="btn_save" class="w-fit h-fit ml-0.5 bg-white text-nav_color font-bold py-2 px-4 border-2 border-nav_color hover:bg-variable_color rounded">
                    ULOŽ FUNKCI
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
{% block additional_scripts %}
    <script src="../js/robot.js"></script>
    <script src="../js/dnd.js"></script>
    <script src="../js/hive.js"></script>
    <script src="../js/animus.js"></script>
    <script src="../js/sequence_processor.js"></script>
    <script src="../js/variables.js"></script>
    <script>
        level = {
            dimensions: {
                width: {{ dimensions.width}},
                height: {{ dimensions.height}},
            },
            start : {
                x: {{start.x}},
                y: {{start.y}},
            },
            finish : {
                x: {{finish.x}},
                y: {{finish.y}},
            },
            obstacles : [],
            stars: [],
        }
        {% for obstacle in obstacles %}
            level.obstacles.push({x: {{obstacle.x}}, y: {{obstacle.y}}});
        {% endfor %}
        {% for star in stars %}
            level.stars.push({x: {{star.x}}, y: {{star.y}}});
        {% endfor %}
        isMainPage = true;
        handleResize();
    </script>
{% endblock additional_scripts %}
