<div id="if_state_list" class="h-full w-full flex flex-col items-center">
    <div class="btn_menu bg-state_color north" data-command="s">SEVER
    </div>
    <div class="btn_menu bg-state_color south" data-command="j">JIH
    </div>
    <div class="btn_menu bg-state_color north_west" data-command="q">SEVEROZÁPAD
    </div>
    <div class="btn_menu bg-state_color north_east" data-command="e">SEVEROVÝCHOD
    </div>
    <div class="btn_menu bg-state_color south_west" data-command="y">JIHOZÁPAD
    </div>
    <div class="btn_menu bg-state_color south_east" data-command="v">JIHOVÝCHOD
    </div>
    <div class="btn_menu bg-state_color" data-command="z">ZEĎ
    </div>
</div>
